---
import Container from "@components/elements/Container.astro";
import Sectionhead from "@components/elements/Sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Kontakt">
  <section class="max-w-screen-xl mx-auto px-5">
    <Sectionhead>
      <Fragment slot="title">Dataprotection</Fragment>
      <Fragment slot="desc">Your company</Fragment>
    </Sectionhead>
  </section>
</Layout>
