@import "./fonts.css";
@import "tailwindcss";
@import "./theme.css";

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

@layer components {

    /**
    See FloatingMenu.astro. 
    */
    .floating-menu {
        @apply fixed right-5 bottom-1 flex flex-col items-end space-y-3;
    }

    .menu-item {
        @apply flex items-center space-x-2 opacity-0 transform scale-95 transition-all;
    }

    .menu-item.show {
        @apply opacity-100 scale-100;
    }
}



/* Custom theme vars live here */
@theme {
    
    --color-primary: oklch(0.6 0.2 240);
    --color-primary-light: oklch(0.8 0.2 240); /* lighter version */
    --color-primary-dark: oklch(0.4 0.2 240); /* darker version */

    --color-code-bg: oklch(0.12 0.03 250);
    --color-code-text: oklch(0.85 0.15 100);
}
