---
import Container from "@components/elements/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <Container>
    <div class="flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">404</h1>
        <p class="text-lg mt-4 text-slate-600">Page not found</p>
      </div>
    </div>
  </Container>
</Layout>
