---
import Layout from "@layouts/Layout.astro";
import InventoryList from "@components/InventoryList.astro";
import InventoryDrawer from "@components/inventory/InventoryDrawer.vue";
---

<Layout title="Inventory | Resale Command">
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold mb-8">Inventory</h1>
        
        <InventoryList />
    </div>
</Layout>
