---
import { siteConfig } from "site-config";

var githubURL = "https://github.com/"+ siteConfig.githubRepo;
---
<section class="bg-primary py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-semibold mb-6">How to use</h2>
    <p class="text-lg mb-6">Starting new Astro Tailwind project has been never easier before:</p>

    <!-- YouTube Embedded Video -->
    <div class="flex justify-center">
      <div class="p-4 rounded-lg shadow-lg w-full max-w-5xl bg-code-bg text-primary-light">
        <pre
          class="overflow-x-auto">
            <code class="font-mono leading-relaxed">
pnpm create astro@latest --template {siteConfig.githubRepo}</code>
        </pre>
      </div>
    </div>
    <div class="pt-4">
      <p class="font-bold"><a href={githubURL}>{githubURL}</a></p>
    </div>
  </div>
</section>
