---
import { siteConfig } from "site-config";

var githubIssueURL = "https://github.com/" + siteConfig.githubRepo + "/issues/new";
---

<section class="text-gray-600">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
      <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">
        You're more than welcome to collaborate on this starer! Start with PR or Issue on github.
      </h1>
      <a href={githubIssueURL} target="_blank">
        <button class="flex-shrink-0 text-white bg-primary border-0 py-2 px-8 focus:outline-none hover:bg-primary-light rounded text-lg mt-10 sm:mt-0"
          >Go!</button
        >
      </a>
    </div>
  </div>
</section>
